In [1]:
import os
import pandas as pd

In [2]:
dataset_files = os.listdir('./')
dataset_files = [i for i in dataset_files if i[-2:]=='py']

In [3]:
name_list = []
num_line_list = []

for file in dataset_files:
    with open(file, 'r') as f:
        name_list.append(file)
        
        num_line = len(f.read().split('\n'))
        num_line_list.append(num_line)
        
        print(file, ": ", num_line)

__init__.py :  1
caltech101.py :  60
dtd.py :  96
eurosat.py :  74
fgvc_aircraft.py :  72
food101.py :  52
imagenet.py :  92
imagenet_a.py :  47
imagenet_r.py :  47
imagenet_sketch.py :  44
imagenetv2.py :  47
oxford_flowers.py :  90
oxford_pets.py :  187
stanford_cars.py :  76
sun397.py :  81
ucf101.py :  85
chest.py :  16

In [7]:
df_datasets = pd.DataFrame({"name":name_list , "num_line":num_line_list}).sort_values(by=['num_line']).reset_index(drop=True)
df_datasets

                  name  num_line
0          __init__.py         1
1             chest.py        16
2   imagenet_sketch.py        44
3        imagenet_a.py        47
4        imagenetv2.py        47
5        imagenet_r.py        47
6           food101.py        52
7        caltech101.py        60
8     fgvc_aircraft.py        72
9           eurosat.py        74
10    stanford_cars.py        76
11           sun397.py        81
12           ucf101.py        85
13   oxford_flowers.py        90
14         imagenet.py        92
15              dtd.py        96
16      oxford_pets.py       187

- imagenet_sketch.py	44
- imagenet_a.py	47
- imagenetv2.py	47
- imagenet_r.py	47
- food101.py	52
- caltech101.py	60